<div id="from">
    <mat-form-field appearance="fill">
        <mat-label>Enter Your Name</mat-label>
        <input matInput>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Enter Your Roll Number</mat-label>
        <input matInput>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Mobile Number</mat-label>
        <input matInput>
      </mat-form-field>
    <button mat-raised-button color="warn"> Reset</button>
    <button mat-raised-button color="warn" class="svae"> Save</button>
    <button mat-raised-button color="warn" class="delete"> Delete</button>
</div>